footer {
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgb(2, 64, 247);
  color: white;
}

footer #footer-icons {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 20px;
  font-size: 24px;
}

footer .social-icon {
  color: white;
  margin: 10px;
}

footer .footer-block {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.footer-block span{
  margin: 10px;
  cursor: pointer;
}


@media (max-width: 770px) {
  footer .footer-block {
    flex-direction: column;
  }
}