div.list {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
}

div.list-item {
  margin: 0 10px;
}

div.list-item img {
  max-width: 190px;
}

div.list-item h4 {
  background-color: antiquewhite;
  padding: 10px;
}

@media (max-width: 1200px) {
  div.list {
    justify-content: flex-start;
  }
}